    @import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital@0;1&display=swap');
     :root {
        --green: #00E77F;
        --white: #fff;
        --light-white: #aaa;
        --black: #3d3d3d;
        --light-bg: #4b4b4b;
    }
    
    * {
        font-family: 'Sofia Sans Condensed', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        transition: .2s linear;
        outline: none;
        border: none;
        text-decoration: capitalize;
    }
    
    *::selection {
        background-color: var(--white);
        color: var(--black);
    }
    
    html {
        font-size: 63%;
    }
    
    body {
        background-color: var(--black);
    }
    
    .flex {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
    }
    
    .header {
        background-color: var(--light-bg);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    
    .header .flex {
        position: relative;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    
    .header .flex .logo {
        font-size: 3rem;
        color: var(--white);
    }
    
    .header .flex .logo:hover {
        background-color: var(--green);
        border-radius: 45%;
        padding: 0 25px;
    }
    
    .header .flex .navbar a {
        color: var(--light-white);
        font-size: 2.5rem;
        justify-content: space-between;
        padding: 1rem;
    }
    
    .header .flex .navbar a:hover {
        font-size: 3rem;
        color: var(--green);
    }
    
    #menu-btn {
        cursor: pointer;
        font-size: 2rem;
        color: var(--white);
        display: none;
    }
    
    .home {
        margin-top: 2rem;
    }
    
    .home .row {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 3rem;
        align-items: center;
    }
    
    .home .row .content {
        flex: 1 1 40rem;
        text-align: center;
    }
    
    .home .row .image {
        flex: 1 1 40rem;
    }
    
    .home .row .image img {
        margin-top: 7rem;
        width: 100%;
    }
    
    .home .row .content h3 {
        margin-bottom: 1rem;
        font-size: 10rem;
        color: var(--white);
        line-height: 1;
    }
    
    .home .row .content h3 span {
        color: var(--green);
    }
    
    .btn {
        color: var(--white);
        background-color: var(--light-bg);
        font-size: 2rem;
        border-radius: 3rem;
        padding: 1rem;
        line-height: 1;
        position: relative;
        top: 1.5rem;
    }
    
    .btn:hover {
        background-color: #00E77F;
        font-size: 2.2rem;
    }
    
    .count .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        gap: 1.5rem;
        align-items: flex-start;
        justify-content: center;
    }
    
    .count .box-container .box {
        border-radius: .5rem;
        background-color: var(--light-bg);
        margin-top: 5rem;
        padding: 2rem;
        gap: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .count .box-container .box i {
        font-size: 5rem;
        color: var(--green);
        padding: 1rem;
        display: grid;
    }
    
    .count .box-container .box h3 {
        font-size: 3rem;
        color: var(--white);
        margin-bottom: .5rem;
        position: relative;
        left: 1.5rem;
    }
    
    .count .box-container .box p {
        font-size: 2.5rem;
        color: var(--light-white);
        position: relative;
        top: 2.5rem;
        left: -7rem;
    }
    
    .about .row {
        margin-top: 5rem;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    }
    
    .about .row .image img {
        border-radius: 50%;
    }
    
    .about .row .content {
        margin: 3.5rem;
    }
    
    .about .row .content h3 {
        font-size: 5rem;
        color: var(--white);
    }
    
    .about .row .content p {
        font-size: 3rem;
        color: var(--light-white);
    }
    
    .heading {
        margin-bottom: 2.5rem;
        text-align: center;
        font-size: 4rem;
        color: var(--white);
    }
    
    .heading span {
        color: var(--green);
    }
    
    .courses .slide {
        display: inline-block;
        width: 34rem;
        margin-left: 3rem;
        background-color: var(--light-bg);
        border-radius: .5rem;
        padding: 3rem;
        text-align: center;
        margin-bottom: 4rem;
    }
    
    .courses .slide img {
        /* padding: 1rem; */
        padding-right: 2rem;
        height: 25rem;
        width: 100%;
    }
    
    .courses .slide h3 {
        margin: 1.5rem 0;
        font-size: 2.5rem;
        color: var(--white);
    }
    
    .courses .slide p {
        line-height: 2;
        font-size: 1.6rem;
        color: var(--light-white);
    }
    
    .carousel .carousel-inner {
        display: inline-block;
        position: relative;
        width: 70%;
        overflow: hidden;
        height: 50rem;
        margin-left: 20rem;
        margin-bottom: 4rem;
    }
    
    .carousel .carousel-inner img {
        height: 90rem;
        width: 100%;
        margin-left: 3rem;
        object-fit: cover;
        text-align: center;
        position: absolute;
        justify-content: center;
    }
    
    .carousel .carousel-inner h3 {
        position: absolute;
        margin-top: 5rem;
        margin-left: 80rem;
        font-size: 4rem;
        color: var(--white);
    }
    
    .carousel .carousel-inner .share {
        position: absolute;
        top: 1rem;
        left: -10rem;
    }
    
    .carousel .carousel-inner .share a {
        display: block;
        margin-top: 1rem;
        text-align: center;
        height: 5rem;
        line-height: 4.5rem;
        background-color: var(--white);
        padding: 1rem;
        color: var(--black);
        font-size: 2.5rem;
        border-radius: .5rem;
    }
    
    .carousel .carousel-inner .share a:hover {
        color: var(--white);
        background-color: #00E77F;
    }
    
    .carousel .carousel-inner:hover .share {
        left: 4rem;
    }
    
    .reviews .review-slider .slide {
        /* display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr)); */
        display: inline-block;
        padding: 2rem;
        margin: 1rem;
        /* margin-left: 4rem; */
    }
    
    .review-slider .slide {
        width: 35rem;
        border-radius: .5rem;
        background-color: var(--light-bg);
        margin-bottom: 4rem;
        padding: 1rem;
    }
    
    .review-slider .slide p {
        line-height: 2;
        font-size: 1.6rem;
        color: var(--light-white);
    }
    
    .review-slider .slide .user {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-top: 1.5rem;
    }
    
    .review-slider .slide .user img {
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .review-slider .slide .user h3 {
        font-size: 2rem;
        color: var(--white);
        margin-bottom: 1rem;
    }
    
    .review-slider .slide .user i {
        font-size: 1rem;
        color: var(--green);
    }
    
    .registeration .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin: 6rem;
    }
    
    .registeration .row .image {
        flex: 1 1 40rem;
    }
    
    .registeration .row .image img {
        width: 100%;
    }
    
    .registeration .row form {
        flex: 1 1 40rem;
    }
    
    .registeration .row form .box {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 2rem;
        border-radius: .5rem;
        background-color: var(--light-bg);
        font-size: 1.8rem;
        color: var(--white);
        padding: 1.4rem;
    }
    
    .registeration .row form span {
        font-size: 1.6rem;
        color: var(--light-white);
    }
    
    .registeration .row form .radio {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
    .registeration .row form .radio label {
        font-size: 1.6rem;
        color: var(--light-white);
        margin-left: .5rem;
    }
    
    .registeration .row form .radio #female {
        margin-left: 2rem;
    }
    
    .registeration .row form .radio input:checked {
        background-color: #00E77F;
        border-radius: 5rem;
    }
    
    .registeration .row form .radio #male:checked~label[for="male"] {
        color: var(--green);
    }
    
    .registeration .row form .radio #female:checked~label[for="female"] {
        color: var(--green);
    }
    
    .registeration .row form .radio input {
        appearance: none;
        height: 2rem;
        width: 2rem;
        background-color: var(--light-white);
        cursor: pointer;
    }
    
    .footer {
        background-color: var(--light-bg);
    }
    
    .footer .share a {
        margin: 0 .3rem;
        height: 4.5rem;
        width: 4.5rem;
        position: relative;
        left: 55rem;
        margin: 2rem;
        line-height: 4.5rem;
        border-radius: 50%;
        font-size: 2rem;
        color: var(--white);
        background-color: var(--black);
        text-align: center;
        justify-content: center;
    }
    
    .footer .share a:hover {
        background-color: var(--green);
    }
    
    .footer .credit {
        margin-top: 2.5rem;
        padding: 1.5rem;
        padding-top: 2.5rem;
        border-top: .1rem solid var(--light-white);
        font-size: 2rem;
        color: var(--light-white);
    }
    
    .footer .credit span {
        color: var(--green);
    }
    
    @media (max-width:1428px) {
        .about .row .image img {
            border-radius: 0%;
            height: 50rem;
            width: 42rem;
        }
        .about .row .content h3 {
            font-size: 3rem;
        }
        .about .row .content p {
            font-size: 1.5rem;
            color: var(--light-white);
        }
    }
    
    @media (max-width:1123px) {
        .home .row .content h3 {
            font-size: 7rem;
        }
        .about .row {
            display: block;
        }
    }
    
    @media (max-width: 994px) {
        .home .row .content h3 {
            font-size: 5rem;
        }
    }
    
    @media (max-width: 883px) {
        html {
            font-size: 55%;
        }
        .home .row .content h3 {
            margin: 1rem;
        }
        .btn {
            position: relative;
            top: 0;
            display: inline;
            line-height: 2;
        }
    }
    
    @media (max-width: 743px) {
        #menu-btn {
            display: inline-block;
        }
        #menu-btn.fa-times {
            transform: rotate(180deg);
        }
    }
    
    @media (max-width: 543px) {
        html {
            font-size: 50%;
        }
    }
    
    @media (max-width:447px) {
        .header .flex .navbar {
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            border-top: .1rem solid var(--light-white);
            border-bottom: .1rem solid var(--light-white);
            background-color: var(--light-bg);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
        .header .flex .navbar .active {
            clip-path: polygon(0 0, 100% 0, 96% 100%, 0 100%);
        }
        .header .flex .navbar a {
            display: block;
            color: var(--light-white);
            margin: .6rem;
        }
    }